[Unit]
Description=opentracker (IPv{{ item }})
Wants=network.target
After=network.target

[Service]
Type=simple
ExecStart={{ opentracker_src }}-IPv{{ item }}/opentracker.debug -f /etc/opentracker/opentracker{{ ipversion }}.conf
Restart=always

[Install]
WantedBy=multi-user.target
