[Unit]
Description=opentracker (IPv{{ item }})
Wants=network.target
After=network.target

[Service]
Type=simple
SyslogIdentifier=opentracker{{ ipversion }}
ExecStart={{ opentracker_src }}-IPv{{ ipversion }}/opentracker -f /etc/opentracker/opentracker{{ ipversion }}.conf
Restart=always

[Install]
WantedBy=multi-user.target
